/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

h2 {
  color: #DE7047;
}

h3 a {
  color: #528540;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #a5a5a5
}

.nav-link {
  display: inline-block;
  padding: 5px;
}

.nav-link a {
  color: #FFDE8D;
}
.nav-link a:hover {
  color: #DE7047;
  text-decoration: none;
}

.header {
  background-color: #528540;
}

.header-name a {
  /*background: #e7e7e7;*/
  width: 325px;
  text-shadow: 1px 1px 1px #575757;
  color: #ffffff;
  margin-top: 15px;
}

.header-name a:hover {
  text-decoration: none;
}

.btn-danger {
  background-color: #DE7047;
  border: 1px solid black;
}

.btn-danger:hover {
  background-color: #6E3723;
}

.btn-primary {
  background-color: #FFDE8D;
  color: black;
  border: 1px solid black;
}

.btn-primary:hover {
  background-color: #A8935D;
}

.ing-name {
  font-size: 16pt;
  color: #DE7047;
}

.ing-measure {
  visibility: hidden;
}

.ing-measure:click {
  visibility: visible;
}

.checkbox {
  display: inline-block;
}

.form-group {
  margin-bottom: 0px;
}

.form-inline {
  margin-left: 15px;
  margin-top: 3px;
}

.delete-box {
  margin-left: 20px;
}
