<h2>All Ingredients</h2>

<% @ingredients.each do |i| %>
  <h3>
    <%= i.name %>
    <small>
      <%= link_to "Edit", edit_ingredient_path(i.id) %>
      <%= link_to "Delete", ingredient_path(i.id), method: :delete %>
    </small>
  </h3>
<% end %>
